.footer {
  background-color: $dark-background-color;
  color: $primary-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__join-us {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 50%;
    padding-top: 5px;
  }
}

.footer__caption {
  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.footer__mailing {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 100%;
    text-align: center;
  }

  @media screen and(min-width: 1200px) {
    padding-top: 12px;
    margin-left: auto;
  }
}

.footer__form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__form-input {
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &::placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 1199px) {
    width: 450px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
