.header {
  position: relative;
}

.header--border-bottom {
  border-bottom: 1px solid #ececec;
}

.header__container {
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.header__main-nav {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    padding: 48px 40px;
  }
}

.menu-container.is-open {
  display: flex;
}
