.header {
  position: relative;
}

.header--border-bottom {
  border-bottom: 1px solid #ececec;
}

.header__container {
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.header__main-nav {
  @media screen and (max-width: 767px) {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.network-wrapper {
  display: flex;
  align-items: center;
}

.menu-container {
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    padding: 48px 40px;
  }

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-container.is-open {
  display: flex;
}
