.header--border-bottom {
  border-bottom: 1px solid #ececec;
}

.header__container {
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.header__main-nav {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
