@import './header-link';

.auth-nav {
  margin-left: auto;
  display: flex;
}

.auth-nav__item {
  & + & {
    margin-left: 50px;
  }
}

.auth-nav__link {
  @extend .header-link;
  display: flex;
  align-items: center;

  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
