.foot-contacts {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 50%;
  }
}

.foot-contacts__logo {
  margin-bottom: 20px;
  margin-right: 0;
  color: $primary-background-color;
}

.foot-contacts__item {
  font-style: normal;

  &:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.foot-contacts__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
