.menu-button {
  position: relative;
  z-index: 2;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  color: #000000;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  .icon {
    fill: currentColor;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}
