.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * #{$grid-gap});
  margin-left: calc(-1 * #{$grid-gap});
}

.portfolio-list__item {
  flex-basis: calc(100% / 3 - #{$grid-gap});
  margin-top: $grid-gap;
  margin-left: $grid-gap;
}

.portfolio-list__link {
  display: block;
  height: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__description {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(0);
  @include transition(transform);

  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(-100%);
  }
}

.portfolio-list__content {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top-color: transparent;
}

.portfolio-list__title {
  margin-bottom: 4px;
  color: $title-text-color;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.portfolio-list__text {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.88;
}
