@import './header-link';

.site-nav {
  display: flex;
}

.site-nav__item {
  & + & {
    margin-left: 50px;
  }
}

.site-nav__link {
  @extend .header-link;
  display: block;

  color: $title-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--active {
  position: relative;
  color: $accent-color;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}
