.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;

  & + & {
    margin-left: 10px;
  }
}

.social-links__link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  background-color: #ffffff;
  cursor: pointer;

  @include transition(color, background-color);
}

.social-links__link--in-footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  &:hover,
  &focus {
    background-color: $accent-color;
  }
}

.social-links__link--team {
  &:hover,
  &:focus {
    background: $accent-color;
    color: #ffffff;
  }
}

.social-links__icon {
  fill: currentColor;
}
