.team-list {
  display: flex;
}

.team-list__item {
  flex-basis: calc((100% - 3 * #{grid-gap}) / 4);
  border-radius: 0 0 4px 4px;

  background-color: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  & + & {
    margin-left: $grid-gap;
  }
}

.team-list__item-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list__title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.team-list__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}
