@mixin transition($property...) {
  transition-property: $property;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

@mixin flex-basis($gap, $columns-number) {
  flex-basis: calc((100% - ($columns-number - 1) * #{$gap}) / $columns-number);
}
