$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$main-font: 'Roboto', sans-serif;
$font-size: 14px;
$letter-spacing: 0.03em;
$font-weight: 400;
$grid-gap: 30px;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
